{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="post" action="{{ url_for('add_user') }}">
    <div class="row g-3">
        <div class="col-md-6">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required />
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required />
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required />
        </div>

        <div class="col-md-6">
            <label for="contact" class="form-label">Contact (Optional)</label>
            <input type="text" class="form-control" id="contact" name="contact" />
        </div>

        <div class="mb-3">
            <label for="userRole" class="form-label">Role</label>
            <select class="form-select" id="userRole" name="role" required>
                <option value="Vip" selected>Vip</option>
                <option value="Premium">Premium</option>
                <option value="Crown">Crown</option>
            </select>
        </div>
    </div>
    <div class="mt-4 d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-primary"> Add </button>
        <a href="/" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>